#juego{
	position: relative;
	width: 600px;
	height: 600px;
	background-color: : #b2ffff;
}

.pieza{
	position: absolute;
	width: 200px;
	height: 200px;
	display: block;
	background-size: cover;
	background-position: center center;
}

